/* настройка головної сторінки*/

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeue.ttf');
    font-family: 'HelveticaNeueThin';
    src: url('../fonts/HelveticaNeueThin.ttf');
    font-family: 'HelveticaNeueBold';
    src: url('../fonts/HelveticaNeueBold.ttf');
    font-family: 'HelveticaNeueThinCond';
    src: url('../fonts/HelveticaNeueThinCond.otf');
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeueRegular.ttf');
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*reser files end*/

.cms-index-index {
    background-color: #ececec;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    width: 100%;
    height: auto;
    max-width: 1067px;
    font-family: 'Open Sans', sans-serif;
}

label {
    font-weight: normal;
}

#select-language {
    font-size: 1em;
    color: #1ebd9d;
    border: none;
    background-color: #ececec;
}

li {
    list-style-type: none;
}


/* настройка вверхнього меню */

.header-container {
    width: 100%;
    color: #535355;
    min-height: 65px;
}

ul.nav>li>a:hover {}

a {
    color: #535355;
}

a:hover {
    color: #a2a2a4;
    text-decoration: none;
}

.form-language {
    font-size: 0.875em;
    font-weight: normal;
    float: right;
    margin-top: 8px;
}

.toplinks-wrapper {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    min-height: 45px;
}

.toplinks-wrapper {
    margin-top: 20px;
}

.top-links {
    font-size: 0.875em;
    display: inline-block;
    padding: 0;
    margin: 0;
}

.top-links>li {
    margin: 8px 16px 8px 0;
    float: left;
    list-style-type: none;
}


/* настройка головного меню */

.main-menu-container {
    font-size: 1.0em;
    font-weight: 500;
    background-color: #535355;
    display: flex;
    flex-direction: row;
}

.main-menu-container div {
    margin: auto;
}

.welcome-msg {
    color: #fff;
    font-size: 0.875em;
}

.main-navs {
    font-size: 0.875em;
    -webkit-transform: scale(1.0, 1.1);
    -moz-transform: scale(1.0, 1.1);
    -ms-transform: scale(1.0, 1.1);
    -o-transform: scale(1.0, 1.1);
    transform: scale(1.0, 1.1);
    color: rgb(237, 241, 242);
    text-transform: uppercase;
    line-height: 2.5;
    text-align: center;
}

.main-navs a:hover {
    color: #dfdfe1;
    text-decoration: none;
}

.item {
    margin-left: 27px;
    float: left;
    display: inline-block;
}

.item a {
    color: #fff;
    text-transform: uppercase;
}

.quick-access {
    /*display: table;*/
    /*table-layout: fixed;*/
    display: inline-block;
    width: 100%;
}

.quick-access .logo,
.quick-access .form-search {
    float: left;
}

.quick-access {
    float: right;
}

.quick-access .logo {
    width: 20%;
}

.quick-access .form-search .button,
.quick-access .form-search #search {
    height: 35px;
}

.quick-access .logo img {
    width: 100%;
    z-index: 2;
    position: relative;
}

.quick-access .form-search {
    float: right;
    width: 80%;
    padding: 11px;
    background-color: #dfdfe1;
}

.quick-access .form-search .button {
    float: right;
    border: none;
    width: 13%;
    background-color: #4b4d48;
    color: #dfdfe1;
    text-transform: uppercase;
    font-size: 0.9em;
    height: 35px;
    padding: 8px;
}

.quick-access .form-search #search {
    float: right;
    width: 87%;
}


/*main content styles*/

.wrapper {
    width: 100%;
    margin: 0 auto;
}

.nav-container {
    width: 100%;
    position: relative;
}

#nav {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.125em;
    display: flex;
    flex-direction: row;
    
   
    list-style: none;
    background: #fff;
    position: absolute;
    margin-top: 58px;
    width: 100%;
    
    
}
.level-top{
/*    color: #535355;*/
    color: red;
 
}
.level-top ul{
    
    background-color: aqua;
/*
    position: absolute;
    width: 100%;
*/
    
/*    display: none;*/
/*
    background-color: #f3f3f3;
    list-style-type: none;
*/
    
}
level-top ul li:hover ul{
}

level-top li {
    flex: 1 1 0;
}
.level-top a{
    text-decoration: none;
    text-align: center;
    display: block;
}

/*******EMPTY STROKE*/

.col-main {
    width: 100%;
    background-color: #fff;
}


/*******EMPTY STROKE*/


/*************** BANNERS*****************/

.banners-wrapper {
    
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
/*
    
    border-bottom: 1px solid red;
    background-color: #fff;
*/

}

.top-banners-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: #fff;
}

.container-left {
    display: -webkit-flex;
    -webkit-flex-direction: row;
    display: flex;
    flex-direction: row;
    position: relative;
}

.container-left .title {
    font-family: 'BebasNeueRegular';
    position: absolute;
    text-transform: uppercase;
    font-size: 3.750em;
    font-weight: bold;
    color: #f2f1f1;
    line-height: 1;
    padding-left: 20px;
    padding-top: 100px;
}

.container-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.action-banner {
    position: relative;
    outline: 2px solid #fdfdfd;
    /* рамка */
    outline-offset: -10px;
}

.container-right .title-wrapper {
    color: #535355;
    position: absolute;
    padding-left: 40px;
    padding-top: 169px;
}

.container-right .title {
    font-size: 3.375em;
}

.container-right .title-action {
    font-family: 'HelveticaNeueThinCond';
    font-size: 4.375em;
    font-weight: 100;
    letter-spacing: -5.5px;
}

.container-right .title-action-bold {
    font-family: 'HelveticaNeueBold';
    font-size: 3.750em;
    font-weight: bold;
}

.bottom-banners-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.bottom-banners-wrapper .title {
    font-family: 'BebasNeueRegular';
    font-size: 1.625em;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    padding: 20px 20px 20px 20px;
    background-color: #f59d05;
    flex: 0 0 335px;
}
/********footer**************/

.footer { 
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: #9b9b9b;
    font-family:  'Open Sans', sans-serif;
    font-size: 0.875em;
    
 }
.footer-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 30px;
    padding-top:30px;
    border-top: 1px solid #e0e0e0;
}
.block-container{
   
}
.block-title {
    text-transform: uppercase;
    color: #585858;
    font-size: 1.000em;
    font-family:  'Open Sans', sans-serif;
    font-weight: 600;
    margin-bottom: 20px;

}
.block-content {
    font-family:  'Open Sans', sans-serif;
    color: #b0b0b0;
}
.block-content li{
    margin-bottom: 15px; 
    font-size: 0.875em;
/*    line-height: 2;     */
}
.block-content a{
    color: #c7c7c7;
}
.block-content a:hover{
    color: #1ebd9d;
}
.address-wrapper{
  margin-bottom: 30px;  
      font-family:  'Open Sans', sans-serif;
}
.address-title{
    font-family:  'Open Sans', sans-serif;
    font-size: 0.875em;
    line-height: 2;
    color: #c7c7c7;
}
.block-content .address{
}
.block-content a[href^="tel:"] {
   
    font-size: 1.125em;
    color: #1ebd9d;
}
.block-content a[href^="tel:"]:before {
  content: "\260e";
  margin-right: 0.5em;
}
/*
.fb{
    width: 25px;
    height: 25px;
    background: url(../images/banners/sprite.jpg) top center;
}
.fb:hover{
    background-position: bottom center;
}
*/
/********foter**************/
