/* настройка головної сторінки*/

body {
    background-color: #ececec;
    width: 100%;
}

label {
    font-weight: normal;
}

#select-language {
    font-size: 1em;
    color: #1ebd9d;
    border: none;
}

li {
    list-style-type: none;
}


/* настройка вверхнього меню */

.header-container {
    width: 100%;
    font-size: 1.000em;
    color: #535355;
    min-height: 65px;
}

ul.nav>li>a:hover {}

.links a {
    color: #535355;
}

.form-language {
    font-weight: normal;
    float: right;
}


/* настройка головного меню */

.main-menu-container {
    font-size: 1.143em;
    background-color: #535355;
    display: inline-block;
    padding-left: 20px;
    width: 100%;
    min-height: 50px;
}

.welcome-msg {
    color: #fff;
    float: left;
    padding-left: 20px;

}

.main-navs {
   }

.item {
    margin-left: 27px;
    float: left;
    display: inline-block;

}

.item a {
    color: #fff;
    text-transform: uppercase;
}



.logo{
    float: left;
    
}
.form-search{
    float: right;
}

/*
footer
*/
